/* -------imported google font--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* ------------Common style  added------ */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
 
/*-----header banner styles--------------*/
.banner-container{
    width: 90%;
    height: 646px;
    margin: 50px 12px 50px 74px;
    background-color: #161616;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 75px;
    border-radius: 30px;
    
}
.banner-discription{
    padding-left: 120px;
    margin-top: 111px;
}
.banner-header{
    font-size: 55px;
    font-weight: 700;
    
}
.banner-details {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
   
}
.banner-link{
   margin-top: 30px;
}
.banner-link>a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
}