/* -------imported google font--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* ------------Common style  added------ */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
 
/*-----header banner styles--------------*/
.banner-container{
    width: 90%;
    height: 646px;
    margin: 50px 12px 50px 74px;
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}
.banner-discription-container{
    width: 50%;
    padding: 10px;
    margin-left: 110px;
}
.banner-header{
    font-size: 60px;
    font-weight: 700;
}
.banner-link{
    margin-top: 30px;
 }
 .banner-link>a{
     text-decoration: none;
     background-color: #DD0000;
     color: #FFFFFF;
     padding: 16px 25px;
     border-radius: 5px;
}
.banner-link>a:hover{
    color: #ccc;
}
.banner-image{
    width: 50%;
    margin-top: 82px;
}

/* .banner-discription{
    padding-left: 120px;
    margin-top: 111px;
}
.banner-header{
    font-size: 55px;
    font-weight: 700;
    
}
.banner-details {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
   
}
.banner-link{
   margin-top: 30px;
}
.banner-link>a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px; */


/* -----------main section styles-------------- */
.main-section{
    display: flex;
    width: 95%;
    margin: 0 auto;
}
.main-button-container{
    width: 430px;
    height: 320px;
    background-color: #161616;
    border-radius: 5px;
    margin-left: 30px;
}
.button-container{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 13px;
    

}
.button{
    background-color: #FFFFFF;
    color: #DD0000;
    margin: 16px;
    padding: 16px 25px;
    border-radius: 5px;
}
.button>a{
    text-decoration: none;
    color: black;
}
#btn{
    background-color: #DD0000;
    
}
#btn>a{
    color: white;
}
/* -------Blogs section styles---------- */

.Blogs-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 17px;
    margin-left: 22px;
}

.blog{
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
    border-radius: 5px;
}
.bolg-discription{
    padding: 10px;
}
.transfer-button{
    margin-bottom: 10px;
}
.transfer-button>a{
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-left: 20px;
}
.blog-comments{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 10px;
}
.icon-color{
    font-size: 16px;
    color: rgba(0, 0, 0, .75);
}
.blog-title>h2{
    font-size: 50px;
}
/* ------------tablet styles-------------------- */

.tablet-section{
    display: flex;
    justify-content: center;
    
}
.view-button{
    display: none;
    background-color: #DD0000;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 50px 10px;
}
.view-button>a{
    text-decoration: none;
    color: #FFFFFF;
}


/* -------------footer styles----------------------- */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 444px;
    background-color: #161616;
    margin-top: 100px;

}
.footer-discripton{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
#horizontal-rule{
    margin-top:40px;
    border: 0;
    height: 1px;
    background: #333;
    background-image:  linear-gradient(to right, #ccc, #333, #ccc);
    
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 50px;
}

.footer-link >a {
    text-decoration: none;
    color: rgba(255, 255, 255, .50);
    font-size: 16px;
}
#footer-icon{
    width: 50%;
    margin-left: 258px;
}