/* -------imported google font--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* ------------Common style  added------ */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
 
/*-----header banner styles--------------*/
.banner-container{
    width: 90%;
    height: 646px;
    margin: 50px 12px 50px 74px;
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}
#animation-div{
    animation: colorchange 2s ease-out infinite ;
}

@keyframes colorchange{
    from{
        background-color: #161616;
    }
    to{
        background-color: #333;
    }
}
.banner-discription-container{
    width: 50%;
    margin-left: 110px;
}
.banner-header{
    font-size: 60px;
    font-weight: 700;
}

.banner-link{
    margin-top: 30px;
 }
 .banner-link>a{
     text-decoration: none;
     background-color: #DD0000;
     color: #FFFFFF;
     padding: 16px 25px;
     border-radius: 5px;
}
.banner-link>a:hover{
    color: #ccc;
    background-color: #333;
}
.banner-image{
    width: 50%;
    margin-top: 72px;
}

/* -----------main section styles-------------- */
.main-section{
    display: flex;
    width: 95%;
    margin: 0 auto;
}
.main-button-container{
    width: 430px;
    height: 320px;
    background-color: #161616;
    border-radius: 5px;
    margin-left: 30px;
}
.button-container{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 13px;
    

}
.button{
    background-color: #FFFFFF;
    color: #DD0000;
    margin: 16px;
    padding: 16px 25px;
    border-radius: 5px;
}
.button>a{
    text-decoration: none;
    color: black;
}
.button>a:hover{
    color:#ccc;
    
}
#button-upcoming{
    background-color: #DD0000;
    
}
#button-upcoming>a{
    color: white;
}
#button-upcoming>a:hover{
    color: #ccc;
}
/* -------Blogs section styles---------- */

.Blogs-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 17px;
    margin-left: 22px;
}

.blog{
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
    border-radius: 5px;
}
.bolg-discription{
    padding: 10px;
}
.transfer-button{
    margin-bottom: 10px;
}
.transfer-button>a{
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-left: 20px;
}
.blog-comments{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 10px;
}
.icon-color{
    font-size: 16px;
    color: rgba(0, 0, 0, .75);
}
.blog-title>h2{
    font-size: 50px;
}
/* css for match.html blog sec-------- */
.country-image{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 27px;
}
.country-name-shedule{
    margin-left: 22px;
}
.country-name{
    font-weight: 600;
    font-size: 24px;
}
.time{
    margin: 10px 25px
}
/* ------------tablet styles-------------------- */

.tablet-section{
    display: flex;
    justify-content: center;
    
}
.view-button{
    display: none;
    background-color: #DD0000;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 50px 10px;
}
.view-button>a{
    text-decoration: none;
    color: #FFFFFF;
}


/* -------------footer styles----------------------- */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 444px;
    background-color: #161616;
    margin-top: 100px;

}
.footer-discripton{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
#horizontal-rule{
    margin-top:40px;
    border: 0;
    height: 1px;
    background: #333;
    background-image:  linear-gradient(to right, #ccc, #333, #ccc);
    
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 50px;
}

.footer-link >a {
    text-decoration: none;
    color: rgba(255, 255, 255, .50);
    font-size: 16px;
}
#footer-icon{
    width: 50%;
    margin-left: 258px;
}

/* -----------------media quaries sections--------------- */
@media only screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-size: 70%;
    }

    /*------------header banner media quary----------- */
    .banner-container{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        margin:0px auto;
        border-radius: 0;
    }
    .banner-discription-container{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        
    }
    .banner-header{
        font-size: 30px;
        text-align: center;
        margin-top: 70px;
        padding: 0 50px;
    }
    .banner-details{
        width: 258px;
        height: 48px;
        margin: 8px auto;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 30px;
    }
    .banner-link{
        text-align: center;
        margin: 50px auto ;
    }
    .banner-image{
        width: 69%;
        margin: 0 0 0 60px;
    }
    /*------------- main section media quary--------------- */
    main{
        display: block;
    }

    .main-section{
        display: block;
        
    }
    .main-button-container{
        width: 210px;
        height: 170px;
        background-color: #FFFFFF;
        margin:30px auto;
    }
    .button{
        border: 1px solid #333;
    }
    /*--------------- main blogs section media quary---------- */
    .Blogs-section{
     grid-template-columns: repeat(1,1fr);
     margin-top: 50px;
   }
   .blog-img{
     padding: 28px;
     margin: 0 27px;
   }
   .bolg-discription{
     padding: 10px;
     text-align: center;
   }
   .blog-comments{
     margin: 10px auto;
     padding:0 30px;
     justify-content: space-around;
     
   }
   .view-button{
    display: block;
    margin-bottom: -15px;
   }

    /* -----footer media quries---------- */
    .footer-container{
        height: 700px;
    }
    .footer-link{
        flex-direction: column;
        margin:25px auto;
    }
    #footer-icon{
        flex-direction: column;
        margin: 0 auto;
    }
}

/* ---------- tab or ipad media quaries---------- */

@media only screen and (min-width: 481px) and (max-width:768px) {
    body{
        font-size: 80%;
    }
    .banner-container{
        width: 90%;
        height: 338px;
        margin: 50px auto;
    }
    .banner-discription-container{
        margin:0 83px;
    }
    .banner-header{
        font-size: 28px;
        width: 100%;
    }
    .banner-details{
        width: 258px;
        height: 48px;
        margin: 0 auto;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;
    }

    /*----------- main media quary for tablet ---------*/
    main{
        display: block;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        
    }
    .main-button-container{
        display: flex;
        flex-direction:;
        width: 210px;
        height: 170px;
        background-color: #FFFFFF;
        margin:30px auto;
        justify-content: space-evenly;
    }
    .button-container{
        display: flex;
        flex-direction: row;
        width: 230px;
        height: 150px;
    }
    .button{
        border: 1px solid #333;
        width: 230px;
        height: 48px;
    }
    .Blogs-section{
        grid-template-columns: repeat(2,1fr);
    }
    #last-item{
        display: none;
    }
    .view-button{
        display: block;
        margin-bottom: -15px;
       }
    #footer-icon{
    margin: 50px 150px;
    }
}
/* ----------media quaries for 769 to 1024px-------- */

@media only screen and (min-width: 769px) and (max-width: 1024px){
  
    .banner-container{
        width: 90%;
        height: 338px;
        margin: 50px auto;
    }
    .banner-discription-container{
        margin:0 83px;
    }
    .banner-header{
        font-size: 25px;
        width: 100%;
    }
    .banner-image{
        width: 31%;
        margin-top: 45px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        
    }
    .main-button-container{
        display: flex;
        flex-direction: row;
        width: 210px;
        height: 170px;
        background-color: #FFFFFF;
        margin:30px auto;
        justify-content: space-evenly;
    }
    .button-container{
        display: flex;
        flex-direction: row;
        width: 230px;
        height: 150px;
    }
    .button{
        border: 1px solid #333;
        width: 230px;
        height: 60px;
    }
    .Blogs-section{
        grid-template-columns: repeat(2,1fr);
    }
    #last-item{
        display: none;
   }
   .view-button{
    display: block;
    margin-bottom: -15px;
   }
}